@import 'tailwindcss';

@layer components {

    /* Container principal */
    .main-container {
        @apply flex flex-col h-screen bg-gray-100;
    }
    .main-container .h1 {
        @apply font-medium text-3xl mb-6;
    }


    /****** Início Header ******/
    /* Estilização do Header */
    .header {
        @apply bg-blue-700 text-white p-4 w-full;
    }

    .content-header {
        @apply max-w-6xl mx-auto flex items-center;
    }

    .title-logo {
        @apply text-xl font-bold;
    }

    .list-nav-link {
        @apply flex space-x-6 ml-6;
    }

    .nav-link {
        @apply hover:text-gray-300 transition-colors;
    }

    /****** Fim Header ******/

    /****** Início Conteúdo da Página ******/
    /* Layout da página */
    .content {
        @apply flex-1 px-2 py-6 max-w-6xl mx-auto w-full;
    }

    /* Conteúdo do título */
    .content-title {
        @apply flex justify-between items-center mb-6;
    }

    /* Título principal */
    .page-title {
        @apply text-2xl;
    }

    /****** Fim Conteúdo da Página ******/


    /****** Início Formulário ******/
    /* Formulário */
    .form-container {
        @apply mt-6 bg-white shadow-md rounded-lg p-6;
    }

    /* Label dos inputs */
    .form-label {
        @apply block text-sm font-semibold;
    }

    /* Input padrão */
    .form-input {
        @apply border p-2 w-full mt-1 rounded-md border-blue-100 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:outline-none;
    }

    /****** Fim Formulário ******/


    /****** Início Botões ******/
    /* Botão azul */
    .btn-primary {
        @apply bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition-colors;
    }

    /* Botão verde */
    .btn-success {
        @apply p-2 bg-green-500 text-white rounded-md hover:bg-green-600 cursor-pointer transition-colors;
    }

    .btn-cancel{
        @apply bg-red-500 text-white px-4 py-2 rounded-md hover:bg-red-600 transition-colors;
    }

    /****** Fim Botões ******/
    

    /****** Início Alertas ******/
    /* Alerta de sucesso */
    .alert-success {
            padding: 1rem;
            margin-bottom: 1rem;
            font-size: 0.875rem;
            color: #166534; /* text-green-800 */
            border-radius: 0.5rem;
            background-color: #bbf7d0; /* bg-green-200 */
        }
        @media (prefers-color-scheme: dark) {
            .alert-success {
                background-color: #38d668; /* dark:bg-gray-800 */
                color: #ffffff; /* dark:text-green-400 */
            }
    }

    /* Alerta de erro */
    .alert-error {
        padding: 1rem;
        margin-bottom: 1rem;
        font-size: 0.875rem;
        color: #991b1b; /* text-red-800 */
        border-radius: 0.5rem;
        background-color: #000000; /* bg-red-200 */
    }
    @media (prefers-color-scheme: dark) {
        .alert-error {
            background-color: #e97272; /* dark:bg-gray-800 */
            color: #ffffff; /* dark:text-red-400 */
        }
    }
    /****** Fim Alertas ******/


}